/* .example-card {
    width: 90%;
    height: 215px;
} */

.example-card-header {
    /* background-color: blueviolet; */
    padding: 15px;
}

.example-heading {
    /* background-color: blueviolet; */
    margin: 15px;
}
/* .mat-card {
    margin-right: 0px;
} */

.w-100{ width:100%;}

.mat-card { padding: 0; }

.company-select { 
    float: right ;
    margin-right: 15px;
    /* align-items: stretch; */
    /* height: 3px !important */
}

.company-select2 { 
    margin-top: 7px;
}


::ng-deep .mat-select-panel {
    margin-top: 20%; 
} 

.page-header {
    font-weight: bold;
    font-size: 18px;
}

.page-header1 {
    margin: 20px;
}

::ng-deep .mat-form-field-infix {
    padding: 1px !important;
    margin-top: 0px !important;
}

::ng-deep .mat-form-field {
    height: 30px;
}

.example-card {
    width: 90%;
    /* height: 280px; */
    min-height: 300px;
}

.report-card {
    width: 90%;
    height: 500px;
    /* padding: 15px; */
}

.report-chart {
    height: 350px;
}


.card-header-red {
    background-color: rgb(255, 99, 132);
}
.card-header-orange {
    background-color: rgb(255, 159, 64);
}
.card-header-yellow {
    background-color: rgb(255, 205, 86);
}
.card-header-green {
    background-color: rgb(75, 192, 192);
}
.card-header-blue {
    background-color: rgb(54, 162, 235);
}
.card-header-purple {
    background-color: rgb(153, 102, 255);
}
.card-header-grey {
    background-color: rgb(201, 203, 207);
}
